<h1 class="country-name">{{name}}</h1>
<div class="country-wrapper">
  <div class="country-data">
    <p>Capital: <span class="">{{capital}}</span></p>
    <p>Population: <span class="">{{population}}</span></p>
    <p>Languages</p>
    <ul>
      {{#each languages}}
      <li>{{name}}</li>
      {{/each}}
    </ul>
  </div>
  <img class="country-flag" src="{{flag}}">
</div>
